@charset "utf-8";
/** 重置图片元素 **/
img {border: 0;}
input[type="text"]{ outline: none;}
/* 字体 reset */
body {font-size: 14px;font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;color: #000;line-height: 22px;}
.font-big {font-size: 16px;}
/* 字体-大号 */
.font-middle {font-size: 15px;}
/* 字体-中号 */
.font-small {font-size: 14px;}
/* 字体-小号 */
/* css reset */
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,input,textarea,p,th,td,img,span {margin: 0;padding: 0;}
ul,ol {list-style: none;}
table {border-collapse: collapse;border-spacing: 0;}
a {text-decoration: none;color: #000000;}
a:hover {text-decoration: none;color: #000000;}
input {border: 0;font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;}
input[type='submit'],input[type='button'] {cursor: pointer;}
img {border: 0;}
iframe {border: 0;}
/* 清浮动 */
.clear {clear: both;}
.clear-no-height {height: 1px;clear: both;}
/* 浮动 */
.f-r { float: right;}
.f-l {float: left;}

/* 版权 */
.copyright { width: 100%;height:38px;background: #0a111b;clear: both;}
.copyright p { width: 100%;color: #a4a4a4;font-size: 12px;line-height: 38px;text-align: center;}

/* footer */
.footer{width: 100%;background: #132333;}
.footer-inner{width: 980px;margin: 0 auto;overflow: hidden;}
ul.footer-nav{ overflow: hidden;margin: 10px 0;}
ul.footer-nav li{float: left;margin-right: 50px;}
p.nav-tit{color: #fff;font-size: 14px;line-height: 30px;border-bottom: 1px solid #bf8a1f;margin-bottom: 5px;}
ul.nav-list li{float: none;margin: 0;}
ul.nav-list li a{color: #c8c8c8; font-size: 12px;}
ul.nav-list li a:hover{color: #fff;}
.footer-logo{width: 220px;height: 56px;margin: 40px; background: url(../images/logo_down.png) no-repeat;}
.company-infor{color: #c8c8c8;font-size: 12px;line-height: 22px;}
p.infor-tit{color: #bf8a1f;margin: 10px 0;}

/* checkbox */
div.checkbox-control{ display: block; width: 18px; height: 17px; cursor: pointer;}
div.checkbox-control.checked{ background: url(../images/checked.png) no-repeat right top;}
div.checkbox-control.uncheck{ background: url(../images/uncheck.png) no-repeat right top;}

/* 遮罩层 */
.page-mask{ display: none; position: fixed;width: 100%;height: 100%;opacity: 0.5;filter: alpha(opacity=50);-moz-opacity: 0.5;-khtml-opacity: 0.5;top: 0;left: 0;background: #000;z-index: 999;}

/* 颜色 */
.red{ color: #dd2400;}
/* 分页控件 */
.page-nav{text-align:center;}
.page-nav a{display:inline-block;border:1px solid #e5e5e5;padding:3px 5px;min-width:14px;color:#878787;font-size:15px;}
.page-nav a.active{background:#00af62;color:#fff;}
.page-nav a:hover{background:#00af62;color:#fff;}

/* 线条 */
hr.module-line{height: 0;margin:0;border:0;border-bottom: 1px solid #a7b5c3; width: 100%;}
hr.module-line2{height: 0;margin:0;border:0;border-bottom: 1px solid #ccc; width: 100%;}